/* Header */
header{background: transparent;position: absolute;z-index: 150;left: 0;width: 100%;top: 0;}
header .container{padding: 1.25rem 1rem 0;max-width: none;}
.main-logo{position: relative;}
.main-logo h2{color: #fff;font-size: 1.813rem;line-height: 100%;margin-left: 0.5em;}
.main-logo a {position: absolute;top: 0;left: 0;height: 100%;width: 100%;}
.main-logo:hover{opacity: 0.9;}
.main-logo img{}
nav#header-nav{transition-duration: 400ms;text-align: right;}
nav#header-nav.show{transform: translateX(0);}
#nav-header{display: none;font-size: 2rem;color: #fff;line-height: 100%;}
nav#header-nav ul{display: inline-block;vertical-align: middle;}
nav#header-nav ul li{display: inline-block;vertical-align: top;}
nav#header-nav ul li a{margin: 0 1em;line-height: 3.5em;display: block;font-size: 1.438rem;color: #fff;font-weight: 400;position: relative;}
nav#header-nav ul li a::after{position: absolute;content: "";width: 100%;height: 0.7em;background: var(--secondary-color);top: 48%;right: 40%;z-index: -1;transform: scaleX(0);transition-duration: 350ms;transform-origin: left;}
nav#header-nav ul li:first-child a{margin-left:0;}
nav#header-nav ul li:last-child a{margin-right:0;}
nav#header-nav ul li a:hover::after,nav#header-nav ul li a:active::after,nav#header-nav ul li.current_page_item a::after{transform: scaleX(1);}
nav#header-nav ul li.hidden{display: none;}
#nav-header{position: relative;margin-bottom: 35px;border-bottom: 3px solid #fff;padding-bottom: 0.85em;}
.hamburger{position: relative;display: none;width: 3rem;cursor: pointer;background: #fff;padding: 0.25em;border-radius: 5px;}
.hamburger.inactive{pointer-events: none;visibility: hidden;}
.hamburger-line{width: 100%;height: 7px;background: var(--primary-color);border-radius: 10px;margin: 6px 0;max-width: 75%;transition-duration: 500ms;}
.hamburger::before{content:"";width: 100%;height: 7px;background: var(--secondary-color);border-radius: 10px;display: block;}
.hamburger::after{content:"";display: block;width: 100%;height: 7px;background: var(--secondary-color);border-radius: 10px;}
.hamburger:hover{box-shadow: 0 0 10px 0 #fff;filter: brightness(130%);}
.hamburger:hover .hamburger-line{transform: translateX(36%);}
.hamburger-close{position: relative;width: 32px;cursor: pointer;transition-duration: 350ms;height: 32px;}
.hamburger-close::before{content: "\f00d";font-family: fontawesome;font-size: 2.5rem;line-height: 100%;display: block;position: absolute;left: 50%;transform: translate(-50%,-50%);top: 50%;color: var(--primary-color);}
.hamburger-close:hover{transform:scale(1.2);filter: brightness(130%);}
.header-cta{display: inline-block;vertical-align: middle;margin-left: 50px;}
.header-cta a{display: block;font-size: 2rem;color: #fff;font-weight: 800;width: 9em;border: 3px solid #fff;background: var(--primary-color);text-align: center;line-height: 2.84em;border-radius: 200px;}
.header-cta a:hover{}
/* End Header */

/* Showcase */
#showcase{position: relative;background: rgba(0,0,0,0.78);min-height: 58.125rem;padding-top: 9rem;}
#showcase .container {}
.slogan{color: #fff;}
.slogan h1{line-height: 100%;font-weight: bold;font-size: 7.5rem;position: relative;z-index: 1;width: fit-content;margin: auto;}
.slogan h1::after{position: absolute;
content: "";
width: 92%;
height: 0.26em;
background: var(--secondary-color);
bottom: -3px;
right: 11.7%;
z-index: -1;
transition-duration: 350ms;
transform-origin: left;
}
.slogan p{margin: 1.5em auto;font-size: 1.813rem;}
.showcase-btns{width: fit-content;margin: auto;column-gap: 1em;}
.showcase-btns a{display: inline-block;color: #fff;font-size: 1.563rem;font-weight: 800;border: 2px solid #fff;border-radius: 200px;background: var(--primary-color);line-height: 3.68em;max-width: 100%;}
.showcase-btns a:hover{}
.showcase-btns a:first-child{width: 12.32em;}
.showcase-btns a:last-child{width: 15em;}
.hero-img{justify-self: end;}
.hero-img img{}
/* Showcase */

/* Services */
#services{background: #fff url(images/service-bg.png) no-repeat center;background-size: cover;}
#services .container{padding: 5.563rem 0 0;max-width: 73.938rem;}
#services .card{padding: 14rem 1rem 3rem;position: relative;background: #1a1a1a;color: #fff;width: 33%;max-width: 20.375rem;border-radius: 25px;box-shadow: 0 0 50px 0 rgba(68, 68, 68,0.70);overflow: hidden;cursor: default;}
#services .card:first-of-type figure{top: 2rem;}
#services .card:nth-of-type(2) figure{top: 2rem;}
#services .card figure{position: absolute;width: fit-content;transform: translateX(-50%);left: 50%;top: 1rem;}
#services .card figure img{}
#services .card h3{line-height: 100%;margin-bottom: 0.938rem;font-size: 1.688rem;font-family: var(--body-font);font-weight: bold;min-height: 2em;}
#services .card p{max-width: 89.5%;margin: auto;}
#services .card h3 span{}
#services .container.btn-container{padding: 0 0 5.563rem;margin-top: 8rem;}
.services-btn{font-size: 1.563rem;color: #fff;font-weight: 800;background: var(--primary-color);border: 2px solid #111;width: 11.12em;margin: auto;border-radius: 200px;line-height: 2.88em;}
.services-btn:hover{}
/* End Services */

/* Footer */
footer{background: url(images/footer-bg.jpg) center no-repeat;background-size: cover;position: relative;z-index: 1;background-attachment: fixed;}
footer::before{content: "";background: rgba(0,0,0,0.75);position: absolute;top: 0;height: 100%;left: 0;width: 100%;z-index: -1;}
.footer-profile{}
.footer-img{width: fit-content;margin: auto;}
.social-media{max-width: 19.25rem;margin: 2.5rem auto 0;transition-duration: 250ms;}
.social-media li{width: 3.875rem;height: 3.875rem;display: flex;justify-content: center;flex-direction: column;align-items: center;background: #fff;border-radius: 7px;position: relative;transition-duration: 250ms;}
.social-media li:hover{background: var(--primary-color);}
.social-media li:hover img{filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(12deg) brightness(120%) contrast(115%);}
.social-media a{position: absolute;top: 0;left: 0;height: 100%;width: 100%;}
footer .container{padding: 3.2rem 0 0;}
footer p{color: #fff;}
.footer-form{padding: 2rem 0 9.813rem !important;}
.footer-heading{color: #fff;margin-bottom: 4rem;}
.footer-heading h2{position: relative;font-size: 4.063rem;line-height: 100%;width: fit-content;margin: 0 auto 1.5rem;}
.footer-heading h2::after{position: absolute;content: "";width: 94%;height: 0.26em;background: var(--secondary-color);bottom: 0px;right: -17px;z-index: -1;transition-duration: 350ms;transform-origin: left;}
.footer-heading p{}
#contact-form{}
#contact-form *::placeholder{color: var(--primary-color);font-style: italic;}
#contact-form input{height: 2.88em;}
#contact-form textarea{resize: none;overflow: auto;width: 100%;margin: 1rem 0;padding-top: 1em;height: 8.76em;}
#contact-form input, #contact-form textarea{border: none;font-family: inherit;font-size: 1.563rem;border-radius: 10px;padding-left: 1em;}
#contact-form input[type="text"],#contact-form input[type="email"]{width: 49%;}
#contact-form input[type="submit"]{padding: 0;margin: auto;width: 9.92em;background: var(--primary-color);color: #fff;font-style: normal;font-weight: 800;border-radius: 200px;border: 2px solid #fff;transition-duration: 250ms;cursor: pointer;}
#contact-form input[type="submit"]:hover{background: var(--secondary-color);}
.copyright{background: #111111;font-size: 1.375rem;padding: 0.75em 0;}
.copyright .container{padding: 0;}
/* End Footer */